/* Media queries for all up to 567px */
@media (max-width: 567px){
    body{
        margin: 0;
        padding: 0;
    }
    
    .site__name{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid darkblue;
    }
    .name{
        letter-spacing: .3em;
    }
    .city_check{
        margin: 0;
        display: flex;
        padding-top: 0.5em;
        justify-content: center;
    }
    form{
        margin: 0;
    }
    .city__name__input, .check__it__out{
        border-radius: 25px;
        padding-left: 1em;
        padding-top: .2em;
        padding-bottom: .2em;
        outline: none;
        border: 1px solid black;
    }
    .city__name__input{
        width: 10em;
    }
    .check__it__out{
        margin-left: .2em;
        padding-right: 1em;
        background-color: transparent;
    }

    /* Current weather section */

    #current__weather{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .city__name__wrapper{
        grid-column: 1/3;
        background-color: lightcoral;
    }
    .chosen__city, .icon_wrapper, .temp, .humidity_wrapper, .tmin, .tmax {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .temp_and_icon_wrapper{
        background-color: lightseagreen;
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .humidity_wrapper{
        background-color: limegreen;
    }
    .tmax_and_tmin_wrapper{
        grid-column: 1/3;
        background-color: lightgreen;
    }
    .inner_tmin_tmax_wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .tmin{
    }
    .tmax{
    }
    .icon{
        display: flex;
        justify-content: center;
        height: 80px;
        width: 80px;
    }

    /*************************************************************/
}