/* Media queries for all up to 567px */
@media (max-width: 567px){
    body{
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }
    
    .site__name{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid darkblue;
    }
    .name{
        letter-spacing: .3em;
    }
    .city_check{
        margin: 0;
        display: flex;
        padding-top: 0.5em;
        justify-content: center;
    }
    form{
        margin-bottom: 0.5em;
    }
    .city__name__input, .check__it__out{
        border-radius: 25px;
        padding-left: 1em;
        padding-top: .2em;
        padding-bottom: .2em;
        outline: none;
        border: 1px solid black;
    }
    .city__name__input{
        width: 10em;
    }
    .check__it__out{
        margin-left: .2em;
        padding-right: 1em;
        background-color: transparent;
    }

    /* Current weather section */

    #current__weather{
        display: grid;
        grid-gap: 0.2em;
        grid-template-columns: 50% 50%;
        text-transform: uppercase;
    }
    .city__name__wrapper{
        grid-column: 1/3;
        background-color: lightcoral;
    }
    .chosen__city,
    .icon_wrapper,
    .temp, .humidity_wrapper,
    .tmin, .tmax,
    .wind_speed_wrapper,
    .pressure_wrapper,
    .forecast_information_wrapper,
    .chart_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .temp_and_icon_wrapper{
        background-color: lightseagreen;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .icon{
        display: flex;
        justify-content: center;
        height: 80px;
        width: 80px;
    }
    .humidity_wrapper{
        background-color: limegreen;
    }
    .tmax_and_tmin_wrapper{
        grid-column: 1/3;
    }
    .inner_tmin_tmax_wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0.2em;
    }
    .tmin{
        background-color: lightgreen;
    }
    .tmax{
        background-color: lightgreen;
    }
    .wind_speed_wrapper{
        background-color: lightgrey;
    }
    .pressure_wrapper{
        background-color: aquamarine;
    }
    .humidity,
    .tmin,
    .tmax,
    .wind_speed{
        text-align: center;
    }

    /*************************************************************/
    /****************** Forecast and chart links *****************/

    .forecast__and__chart{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0.2em;
        text-transform: uppercase;
    }
    .links{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    .forecast_information_wrapper{
        background-color: bisque;
    }
    .chart_wrapper{
        background-color: aqua;
        display: none;
    }
}