/* Media queries for all up to 768px */
@media (max-width: 567px){
    .wrapper{ 
    }
    .site__name{
        display: flex;
        justify-content: center;
    }
    .general{
        border: none;
    }
}